body {
    height: 100dvh;
    background-image: linear-gradient(135deg, rgb(123, 0, 255), rgb(215, 0, 243));
    color: rgb(219, 219, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.player-sides {
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    background-color: rgba(0, 0, 0, 0.3);
}

.player-side--1 {
    border-radius: 10px 0 0 10px;
}

.player-side--2 {
    border-radius: 0 10px 10px 0;
}

.total-score--container {
    width: 100%;
    height: 50%;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-score--text {
    font-size: 50px;
    user-select: none;
}

.total-score--value {
    font-size: 180px;
    user-select: none;
}

.current-score--container {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: rgba(35, 0, 111, 0.482);
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-score--value {
    font-size: 100px;
    user-select: none;
}

.current-score--text {
    user-select: none;
}

.button-container {
    height: 600px;
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    box-sizing: border-box;
}

button {
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition-duration: 0.1s;
    backdrop-filter: blur(3px);
    font-weight: 400;
    color: rgba(0, 0, 0);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

button:active {
    transform: scale(0.9);
}

.top-btn-container {
    padding-top: 50px;
}

.bottom-btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 50px;
}

.dice-display {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    object-fit: cover;
    user-select: none;
}

.dice-img {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.2)) opacity(0.8);
}

.winner {
    transform: scale(1.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.hidden {
    display: none;
}

.current-player {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}